{

    "sourceMaps": true,
    "presets": [

        "stage-0",
        [ "env", {

            "exclude": [
                "transform-regenerator"
            ],
            "loose": true,
            "modules": "commonjs",
            "targets": {
                "node": 4
            }

        } ]

    ]

}
